@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Zen+Kaku+Gothic+Antique&display=swap");

body {
  scroll-behavior: smooth;
  scrollbar-width: 0px;
  font-family: "Inter", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}
